html{
    font-family: "Open sans-serif";
    font-size: 62.5%;
    /* border: 3px solid black;  */
}

body{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height : 100vh;
    flex-direction: column;
    transition: all 2s ease;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body > header{
    width:100%;
}

/***Social media********************************/
/******first block ===> media icons***/
.media{
    width : 100%;
    display:flex;
    justify-content: space-between;
    background-color: rgba(245, 222, 179, 0.911);
}

.media .icons{
    flex:1;
    width:20%;
}

#logo{
    margin-right : 2%;
    border-radius: 50%;
    max-width: 25px;
    vertical-align: -.1cm;
}

.media .icons img{
    max-width : 18px;
    margin : 2%;
}

/**************second Block ==>links***************/
ul.util-links{
    display: flex;
    flex:3;
    /* padding-right:2%; */
    justify-content: flex-end;
    list-style-type: none;
    padding-top:13px;
}

.util-links li{
    margin-right:5%;
}
.util-links a{
    /* margin-right:2%; */
    color:rgba(0, 0, 0, 0.739);
    font-size : 1.5rem;
}

.util-links li:last-child a {
    color: #7f0000;
}

/******* nav ***************************/
nav {
    position:relative;
    top:0;
    padding :3px;
    width: 100vw;
    height : 14vh;
    margin-bottom:1%;
    border-radius: 9px 9px 18px 18px;
    background-color: #01010eec;
    box-shadow : 0 -2px 10px  black;
    /*****for JS****/
    transition : .4s linear;
}

nav ul {
    padding:1%;
    list-style-type: none;/***img????**/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******* bouton mode: dark/light**********************************/
.slider-canvas{
    height : 30px;
    width : 50px;
    border : 3px  solid grey;
    background-color:#7f0000;
    border-radius: 15px;
    position:relative;
}

.slider{
    position:absolute;
    border : 2px solid grey;
    left: 0;
    border-radius:50%;
    height:100%;
    width:60%;
    background-color:white;
    transition: all .3s linear;
}
/*********Favoris********/
/* nav img{
    height: 30px;
    width: 30px;
    object-fit: contain;
} */

#favoris{
    width: 40px;
    height: 30px;
    position: relative;
}

#favoris img {
    position: absolute;
    height: 20px;
    width: 20px;
    filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
}

#favoris img:first-child{
    left: 13px;
    top: 6px;
    right: 15px;
}

#logo img:first-child{
    filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px -1px 0 black);
}

ul a{
    position:relative;
    text-decoration: none; 
    color:rgba(255, 255, 255, 0.904);
    font-family:'Opensans', sans-serif;
    font-weight:300;
    font-size: 1.7rem;
    transition : .2s ease-out;
    padding-top: 10px;
    padding-bottom: 5px;
    text-underline-position: below;
    
}
/*****pseudo ELement to add effect on hover to links***/
a::before, a::after{
 content : "";
 position:absolute;
 width :0;
 border-bottom: 2px solid rgb(230, 214, 214);
 box-shadow: 0 -10px 10px white;
 transition: .4s ease-out;
}

a::before{
 left:0;
 bottom:0;
}

a::after{
    right:0;
    bottom:0;
}
/********effect on all a links*************/
 a:hover::before, a:hover::after {
    width :100%;
}
/******* Section of Articles*******/
.main-container{
    display : flex;
    justify-content: space-between;
    width:97%;
}
/*****template contenant les articles*****/
.main-container section{
    width:33%;
}

/******les titres des différentes catégories****/
h2.first{
    text-align: center;
    background: #7f0000;
    color : white;
    padding-top : 3px;
    border-radius : 9px;
}
/******chaque blocs Articles******/

/****************************************************************/
/************************JS*************************************/

/*******sticky nav*****************/
.stick-the-nav nav{
    position : fixed;
    height : 10vh;
    background: #131318ec;
    box-shadow: 0 3px 5px inset whitesmoke;
    
}

.stick-the-nav a{
    color: wheat;
    font-size : 2rem;
    font-weight: 590;
}
/*********************Switching Theme Mode Button*************************/
/****** added to body***/
.darkedTheme{
      background-color :#080B14 /* #00070D; #180638 bg color?????*/
  }

/*****upper nav change on the switching*****/
.darkedTheme .media{
    background: rgba(128, 128, 128, 0.897);
}
/******affect the Nav bar if body gets .darkedTheme****/
.darkedTheme nav{
    box-shadow : 0 0 10px white;
  }
/*******Affects the switch theme button canvas on changing theme****/
.darkedTheme .slider-canvas{
      background-color :white;
  }
/*******Affects the button itself on switching theme****/  
.darkedTheme .slider{
    left:40%;
    background-color : black; 
 }
/******Affect every catogory title on switching theme**/
/* .darkedTheme .main-container h2{
     box-shadow: 0 0 8px white;
     color:white;
     background-color: #1a313d;
 } */

 .darkedTheme .wrapper{
     overflow : hidden;
     transition : .4s ease ;
     box-shadow: 0 0 10px white;
     transition : .6s ease-in;
 }

 /*************pop up window***************/
 /******Add blur to the main content*************/
.pop-up{
      z-index:-1;
      filter: blur(13px);
}
/****Styling the pop up window*****************/
.pop-up-window{
    /* z-index:2; */
    position:absolute;
    overflow: hidden;
    /* visibility:visible; */
    left:50%;
    top:50%;
    transform : translate(-50%,-30%);    
    /* width: 84vw; */
    /* height:75vh; */
    opacity :.856;
    background-color: rgb(39, 38, 35);
    transition : all .9s ease;
    border-radius:15px;
    box-shadow: 0 0 9px rgb(176, 186, 240);
    padding: 2% ;
}
/****after removing to pop up "pop-up-window" class it's still appearing down the page so we hie it 
at the moment we removing the main styling class*/
.pop-up-window-hidden{
    visibility: hidden;
    
}

.pop-up-content{
    font-size : 1.7rem;
    color:white;
    margin-top : 8%;
    /* background: opac; */
}

.author{
    font-size : 1.6rem;
    margin-top : 4%;
    /* margin-left:50%; */
    font-style: italic;
    color : wheat;
}
/****button that closes the pop up window****/
.close{
     
     float:right;
     max-width : 37px;
     /* margin-left : 90%; */
     /* margin-top : 1%; */
     margin-bottom : 50px;
     opacity : .8;
     background : rgba(255, 255, 255, 0.52);
     border-radius:50%;
     padding:0;
     border : 3px solid rgb(13, 97, 13);
}
/**** article content in the pop up window;**/
.content-container{ /*******peut être police particulière**/
    font-size : 1.7rem;
    color:white;
}  

.author-section-style{
    font-size : 1.2rem;
    margin-top : 90%;
    margin-left:10%;
    color:white;
}
/********* arcticle creatio syle section********/
/****Put information into the article block ***/

/*1-- every div of articles */
    /**JS process : add a figure dynamicaly into "article-container class" **/
.wrapper{    /*---> <div> element */
    height:300px;
    width : 100%;
    margin-top : 1%;
    border : 3px solid black;
    margin-bottom:2%;
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center center;
    border-radius: 10px;
}
/****** Article title, resume, content, author wraper****/
.content-wrapper{
    width : 100%;
    height : 100%;
    padding:2%;
    background-color:rgba(0, 0, 0, 0.726);
    border-radius: 10px;
}
/*2-- Article Title***/
    /*JS process : <h3> element to add to the div article****/
.article-title{ /* --> <h3> element*/
    font-size : 1.8rem;
    text-align : center;
    color: white;
    margin-bottom:2%;
    width:100%;
    height : 50%;
    text-align : center;
}

.resume{
    color:white;
    font-size: 1.6rem;
    height:50%;
    text-align : center;
}
/* content and author are hidden in the card view**/
/* .hidden{
    display:none;
} */

