@font-face {
    font-family:'Noto_Sans';
    src:url("../asset/Noto_Sans/NotoSans-Bold.ttf")
}
@font-face {
    font-family:'Big Shoulders Display';
    src:url("../asset/Big_Shoulders_Display/BigShouldersDisplay-Regular.ttf")
}
@font-face {
    font-family:'Montserrat';
    src:url("../asset//Montserrat/Montserrat-Bold.ttf")
}
html{
    font-family: "Open sans-serif";
    font-size: 62.5%;
    border: 3px solid black; 
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    background-color: #7f0000;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
body header{
    border: 3px solid yellow;
}
body header:last-child{
    border: 3px solid green;
}
h1{
    font-size: 5rem;
    font-family:'Montserrat', sans-serif;
    color:white;
    margin:0;
}
h2{
    font-family:'Big Shoulders Display', sans-serif;
    font-size:2rem;
    letter-spacing: 2px;
    text-align: center;
    color:white;
    margin-top: 5px;
}
#container{
    border-radius: 1rem;
    background-color: white;
    /* border-color: rgba(0, 0, 0, 0.2); */
    border: 4px solid blue;
    width: 30%;
}
img{
    background-size: cover;
    color:#7f0000;
}
h3{

    font-family:'Noto Sans', sans-serif;
    font-size: 2rem;
}
