/********New on css *************************************/
@font-face {
    font-family:'Noto_Sans';
    src:url("../asset/Noto_Sans/NotoSans-Bold.ttf")
}
@font-face {
    font-family:'Big Shoulders Display';
    src:url("../asset/Big_Shoulders_Display/BigShouldersDisplay-Regular.ttf")
}
@font-face {
    font-family:'Montserrat';
    src:url("../asset//Montserrat/Montserrat-Bold.ttf")
}
html{
    font-family: "Open sans-serif";
    font-size: 62.5%;
    border: 3px solid black; 
}

body{
    background-color: #7f0000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height : 100vh;
    padding-left  : 7%;
}

body header{
    
}

body header:last-child{
    border: 3px solid green;
}

h1{
    font-size: 5rem;
    font-family:'Montserrat', sans-serif;
    color:white;
    margin:0;
}

h2{
    font-family:'Big Shoulders Display', sans-serif;
    font-size:2rem;
    letter-spacing: 2px;
    text-align: center;
    color:white;
    margin-top: 5px;
}

#container{
    border-radius: 1.5rem;
    background-color: white;
    
    width: 50%;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    /* border : thin solid white; */
    overflow: hidden;
    display:flex; 
    flex-direction : column;
    justify-content: space-between;
    align-items : center;
    
}

#container header{
    text-align : center;
}

/*logo simplon*/

h3 img{
    vertical-align : -.1cm;
    width : 30px;
}

h3{

    font-family:'Noto Sans', sans-serif;
    font-size: 3rem;
}

form{

    display : flex;
    flex-direction: column;
}

#loginForm input[type=submit]{
    margin : 2%;
}

h4{
    text-decoration: underline;
}


/*s'inscrire*/
#signUp{
    display:none;
}